In [1628]:
import pandas as pd
from collections import OrderedDict, Counter

In [1629]:
dfs = pd.read_csv('final.csv')

In [1630]:
dfs=dfs[ (dfs['state_name'] == "South Carolina")]
dfs=dfs.reset_index()

In [1631]:
dfs.to_excel("South Carolina_hand.xlsx")

In [1632]:
dfs=dfs[['city','state_name','county_name','id']]

In [1633]:
dfs

                   city      state_name  county_name          id
0              Columbia  South Carolina     Richland  1840014730
1            Charleston  South Carolina   Charleston  1840015163
2      North Charleston  South Carolina   Charleston  1840015164
3        Mount Pleasant  South Carolina   Charleston  1840017286
4             Rock Hill  South Carolina         York  1840014618
5            Greenville  South Carolina   Greenville  1840013501
6           Summerville  South Carolina   Dorchester  1840016886
7                Sumter  South Carolina       Sumter  1840015612
8    Hilton Head Island  South Carolina     Beaufort  1840016974
9              Florence  South Carolina     Florence  1840013643
10          Spartanburg  South Carolina  Spartanburg  1840015482
11          Goose Creek  South Carolina     Berkeley  1840013761
12                Aiken  South Carolina        Aiken  1840013722
13         Myrtle Beach  South Carolina        Horry  1840014717
14             Anderson  South Carolina     Anderson  1840013579
15                Greer  South Carolina   Greenville  1840013502
16            Greenwood  South Carolina    Greenwood  1840013626
17              Mauldin  South Carolina   Greenville  1840015476
18              Taylors  South Carolina   Greenville  1840013498
19        North Augusta  South Carolina        Aiken  1840014788
20               Easley  South Carolina      Pickens  1840013526
21             Socastee  South Carolina        Horry  1840013647
22         Simpsonville  South Carolina   Greenville  1840015477
23              Hanahan  South Carolina   Charleston  1840014256
24            Lexington  South Carolina    Lexington  1840016724
25               Conway  South Carolina        Horry  1840014716
26        West Columbia  South Carolina    Lexington  1840015605
27                Berea  South Carolina   Greenville  1840013495
28                Gantt  South Carolina   Greenville  1840013492
29           Five Forks  South Carolina   Greenville  1840013491
..                  ...             ...          ...         ...
444               Wando  South Carolina     Berkeley  1840034823
445               Alvin  South Carolina     Berkeley  1840034824
446         Mount Holly  South Carolina     Berkeley  1840034825
447             Bethera  South Carolina     Berkeley  1840034826
448              Grover  South Carolina   Dorchester  1840034827
449          Dorchester  South Carolina   Dorchester  1840034828
450      Hendersonville  South Carolina     Colleton  1840034829
451              Ashton  South Carolina     Colleton  1840034830
452              Ruffin  South Carolina     Colleton  1840034831
453          Green Pond  South Carolina     Colleton  1840034832
454             Canadys  South Carolina     Colleton  1840034833
455              Martin  South Carolina    Allendale  1840034834
456             Millett  South Carolina    Allendale  1840034835
457            Cummings  South Carolina      Hampton  1840034836
458               Miley  South Carolina      Hampton  1840034837
459        Early Branch  South Carolina      Hampton  1840034838
460             Garnett  South Carolina      Hampton  1840034839
461       Coosawhatchie  South Carolina       Jasper  1840034840
462            Pineland  South Carolina       Jasper  1840034841
463             Tillman  South Carolina       Jasper  1840034842
464          Grays Hill  South Carolina     Beaufort  1840034843
465             Sheldon  South Carolina     Beaufort  1840034844
466            Frogmore  South Carolina     Beaufort  1840034845
467   Daufuskie Landing  South Carolina     Beaufort  1840034846
468              Lobeco  South Carolina     Beaufort  1840034847
469         Centerville  South Carolina   Charleston  1840034848
470        Johns Island  South Carolina   Charleston  1840034849
471       Edisto Island  South Carolina   Charleston  1840034850
472       Saint Andrews  South Carolina   Charleston  1840034851
473               Huger  South Carolina     Berkeley  1840037824

[474 rows x 4 columns]

In [1634]:
f1=open("tde.txt","r")

In [1635]:
import numpy as np
dfs[:10]
dfs['water'] = np.empty((len(dfs), 0)).tolist()

In [1636]:
dfs

                   city      state_name  county_name          id water
0              Columbia  South Carolina     Richland  1840014730    []
1            Charleston  South Carolina   Charleston  1840015163    []
2      North Charleston  South Carolina   Charleston  1840015164    []
3        Mount Pleasant  South Carolina   Charleston  1840017286    []
4             Rock Hill  South Carolina         York  1840014618    []
5            Greenville  South Carolina   Greenville  1840013501    []
6           Summerville  South Carolina   Dorchester  1840016886    []
7                Sumter  South Carolina       Sumter  1840015612    []
8    Hilton Head Island  South Carolina     Beaufort  1840016974    []
9              Florence  South Carolina     Florence  1840013643    []
10          Spartanburg  South Carolina  Spartanburg  1840015482    []
11          Goose Creek  South Carolina     Berkeley  1840013761    []
12                Aiken  South Carolina        Aiken  1840013722    []
13         Myrtle Beach  South Carolina        Horry  1840014717    []
14             Anderson  South Carolina     Anderson  1840013579    []
15                Greer  South Carolina   Greenville  1840013502    []
16            Greenwood  South Carolina    Greenwood  1840013626    []
17              Mauldin  South Carolina   Greenville  1840015476    []
18              Taylors  South Carolina   Greenville  1840013498    []
19        North Augusta  South Carolina        Aiken  1840014788    []
20               Easley  South Carolina      Pickens  1840013526    []
21             Socastee  South Carolina        Horry  1840013647    []
22         Simpsonville  South Carolina   Greenville  1840015477    []
23              Hanahan  South Carolina   Charleston  1840014256    []
24            Lexington  South Carolina    Lexington  1840016724    []
25               Conway  South Carolina        Horry  1840014716    []
26        West Columbia  South Carolina    Lexington  1840015605    []
27                Berea  South Carolina   Greenville  1840013495    []
28                Gantt  South Carolina   Greenville  1840013492    []
29           Five Forks  South Carolina   Greenville  1840013491    []
..                  ...             ...          ...         ...   ...
444               Wando  South Carolina     Berkeley  1840034823    []
445               Alvin  South Carolina     Berkeley  1840034824    []
446         Mount Holly  South Carolina     Berkeley  1840034825    []
447             Bethera  South Carolina     Berkeley  1840034826    []
448              Grover  South Carolina   Dorchester  1840034827    []
449          Dorchester  South Carolina   Dorchester  1840034828    []
450      Hendersonville  South Carolina     Colleton  1840034829    []
451              Ashton  South Carolina     Colleton  1840034830    []
452              Ruffin  South Carolina     Colleton  1840034831    []
453          Green Pond  South Carolina     Colleton  1840034832    []
454             Canadys  South Carolina     Colleton  1840034833    []
455              Martin  South Carolina    Allendale  1840034834    []
456             Millett  South Carolina    Allendale  1840034835    []
457            Cummings  South Carolina      Hampton  1840034836    []
458               Miley  South Carolina      Hampton  1840034837    []
459        Early Branch  South Carolina      Hampton  1840034838    []
460             Garnett  South Carolina      Hampton  1840034839    []
461       Coosawhatchie  South Carolina       Jasper  1840034840    []
462            Pineland  South Carolina       Jasper  1840034841    []
463             Tillman  South Carolina       Jasper  1840034842    []
464          Grays Hill  South Carolina     Beaufort  1840034843    []
465             Sheldon  South Carolina     Beaufort  1840034844    []
466            Frogmore  South Carolina     Beaufort  1840034845    []
467   Daufuskie Landing  South Carolina     Beaufort  1840034846    []
468              Lobeco  South Carolina     Beaufort  1840034847    []
469         Centerville  South Carolina   Charleston  1840034848    []
470        Johns Island  South Carolina   Charleston  1840034849    []
471       Edisto Island  South Carolina   Charleston  1840034850    []
472       Saint Andrews  South Carolina   Charleston  1840034851    []
473               Huger  South Carolina     Berkeley  1840037824    []

[474 rows x 5 columns]

In [1637]:

s2=set()
s3=set()

In [1638]:
for line in f1:
    line=line.strip()
    for index, row in dfs.iterrows():
        if(row['city'] in line):
            l1=dfs.at[index, 'water']
            if(len(l1)==0):
                l1.append(line)
            else:
                l1.append(line)
            dfs.at[index,'water']=l1   
            print(line)
            print(row['city'])
            s3.add(line)
        else:
            s2.add(line)

Charleston Commissioners of Public Works
Charleston
Easley Combined Utilities
Easley
Greenville Water System
Greenville
Greer Commission Of Public Works
Greer
Inman-Campobello Water District
Inman
Inman-Campobello Water District
Campobello
Laurens Commission of Public Works
Laurens
Mount Pleasant Waterworks
Mount Pleasant
Santee Cooper
Santee
Spartanburg Water System/ Sanitary Sewer District
Spartanburg

In [1639]:
len(s2-s3)

2

In [1640]:
s2-s3

{'Grand Strand Water & Sewer Authority', 'SJWD Water District'}

In [1641]:
s2=s2-s3

In [1642]:
s4=set()
s5=set()

In [1643]:
s2

{'Grand Strand Water & Sewer Authority', 'SJWD Water District'}

In [1644]:
for line in s2:
    for index, row in dfs.iterrows():
        if(row['county_name'] in line):
            l1=dfs.at[index, 'water']
            l1.append(line)
            n1=set(l1)
            dfs.at[index,'water']=list(n1)   
            print(line)
            print(row['county_name'])
            s5.add(line)
        else:
            s4.add(line)

In [1645]:
s4

{'Grand Strand Water & Sewer Authority', 'SJWD Water District'}

In [1646]:
s2=s4-s5
s2

{'Grand Strand Water & Sewer Authority', 'SJWD Water District'}

In [1649]:
f2=open("remain.txt","w+")
for line in s2:
    f2.write(line)
    f2.write("\n")

In [1650]:
dfs[:2]

,city,state_name,county_name,id,water
0,Columbia,South Carolina,Richland,1840014730,[]
1,Charleston,South Carolina,Charleston,1840015163,[Charleston Commissioners of Public Works]

In [1651]:
dfs1 = pd.read_excel('South Carolina_hand.xlsx')

In [1652]:
dfs1

,index,city,city_ascii,state_id,state_name,county_name,county_fips,zip,lat,lng,population,source,id,water,f
0,199,Columbia,Columbia,SC,South Carolina,Richland,45079,29205 29202 29203 29201 29207 29208 29209 2922...,34.000710,-81.034814,129272.0,polygon,1840014730,NaN,NaN
1,218,Charleston,Charleston,SC,South Carolina,Charleston,45019,29424 29455 29407 29401 29403 29409 29492 2941...,32.776566,-79.930922,120083.0,polygon,1840015163,NaN,NaN
2,300,North Charleston,North Charleston,SC,South Carolina,Charleston,45019,29423 29420 29456 29485 29483 29404 29405 2940...,32.854620,-79.974810,97471.0,polygon,1840015164,NaN,NaN
3,501,Mount Pleasant,Mount Pleasant,SC,South Carolina,Charleston,45019,29466 29464 29465,32.794065,-79.862585,67843.0,polygon,1840017286,NaN,NaN
4,522,Rock Hill,Rock Hill,SC,South Carolina,York,45091,29732 29733 29730 29731 29734,34.924867,-81.025078,66154.0,polygon,1840014618,NaN,NaN
5,624,Greenville,Greenville,SC,South Carolina,Greenville,45045,29614 29607 29605 29601 29609 29602 29603 2960...,34.852618,-82.394010,58409.0,polygon,1840013501,NaN,NaN
6,892,Summerville,Summerville,SC,South Carolina,Dorchester,45035,29485 29483 29484,33.018504,-80.175648,43392.0,polygon,1840016886,NaN,NaN
7,963,Sumter,Sumter,SC,South Carolina,Sumter,45085,29154 29152 29153 29150 29151,33.920435,-80.341469,40524.0,polygon,1840015612,NaN,NaN
8,1049,Hilton Head Island,Hilton Head Island,SC,South Carolina,Beaufort,45013,29928 29926 29925 29938,32.216316,-80.752608,37099.0,polygon,1840016974,NaN,NaN
9,1052,Florence,Florence,SC,South Carolina,Florence,45041,29505 29506 29501 29502 29503 29504,34.195433,-79.762563,37056.0,polygon,1840013643,NaN,NaN
10,1055,Spartanburg,Spartanburg,SC,South Carolina,Spartanburg,45083,29302 29301 29307 29306 29304 29305 29319,34.949567,-81.932048,37013.0,polygon,1840015482,NaN,NaN
11,1092,Goose Creek,Goose Creek,SC,South Carolina,Berkeley,45015,29445,32.981006,-80.032587,35938.0,polygon,1840013761,NaN,NaN
12,1358,Aiken,Aiken,SC,South Carolina,Aiken,45003,29803 29801 29802 29804 29808,33.560417,-81.719553,29524.0,polygon,1840013722,NaN,NaN
13,1486,Myrtle Beach,Myrtle Beach,SC,South Carolina,Horry,45051,29572 29577 29578 29587,33.689060,-78.886694,27109.0,polygon,1840014717,NaN,NaN
14,1514,Anderson,Anderson,SC,South Carolina,Anderson,45007,29625 29621 29624 29622 29623,34.503439,-82.650133,26686.0,polygon,1840013579,NaN,NaN
15,1587,Greer,Greer,SC,South Carolina,Greenville,45045,29651 29650 29652,34.938728,-82.227057,25515.0,polygon,1840013502,NaN,NaN
16,1762,Greenwood,Greenwood,SC,South Carolina,Greenwood,45047,29649 29646 29647 29648,34.195400,-82.161788,23222.0,polygon,1840013626,NaN,NaN
17,1789,Mauldin,Mauldin,SC,South Carolina,Greenville,45045,29662 29607,34.778730,-82.310119,22889.0,polygon,1840015476,NaN,NaN
18,1876,Taylors,Taylors,SC,South Carolina,Greenville,45045,29687,34.920395,-82.296227,21617.0,polygon,1840013498,NaN,NaN
19,1901,North Augusta,North Augusta,SC,South Carolina,Aiken,45003,29841 29860 29861,33.501803,-81.965115,21348.0,polygon,1840014788,NaN,NaN
20,2014,Easley,Easley,SC,South Carolina,Pickens,45077,29642 29640 29641,34.829838,-82.601521,19993.0,polygon,1840013526,NaN,NaN
21,2016,Socastee,Socastee,SC,South Carolina,Horry,45051,29588,33.683504,-78.998368,19952.0,polygon,1840013647,NaN,NaN
22,2217,Simpsonville,Simpsonville,SC,South Carolina,Greenville,45045,29680 29681,34.737064,-82.254283,18238.0,polygon,1840015477,NaN,NaN
23,2243,Hanahan,Hanahan,SC,South Carolina,Charleston,45019,29410,32.918507,-80.022032,17997.0,polygon,1840014256,NaN,NaN
24,2258,Lexington,Lexington,SC,South Carolina,Lexington,45063,29072 29071,33.981537,-81.236211,17870.0,polygon,1840016724,NaN,NaN
25,2349,Conway,Conway,SC,South Carolina,Horry,45051,29527 29526 29528,33.836003,-79.047814,17103.0,polygon,1840014716,Grand Strand Water & Sewer Authority,NaN
26,2628,West Columbia,West Columbia,SC,South Carolina,Lexington,45063,29169 29171,33.993487,-81.073983,14988.0,polygon,1840015605,NaN,NaN
27,2726,Berea,Berea,SC,South Carolina,Greenville,45045,29617 29611,34.885395,-82.455957,14295.0,polygon,1840013495,NaN,NaN
28,2738,Gantt,Gantt,SC,South Carolina,Greenville,45045,29673 29605 29636,34.800118,-82.424291,14229.0,polygon,1840013492,NaN,NaN
29,2754,Five Forks,Five Forks,SC,South Carolina,Greenville,45045,29681,34.804841,-82.229559,14140.0,polygon,1840013491,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,34885,Wando,Wando,SC,South Carolina,Berkeley,45015,29492,32.933507,-79.831749,NaN,point,1840034823,NaN,NaN
445,34886,Alvin,Alvin,SC,South Carolina,Berkeley,45015,29479,33.349056,-79.816186,NaN,point,1840034824,NaN,NaN
446,34887,Mount Holly,Mount Holly,SC,South Carolina,Berkeley,45015,29445,33.034338,-80.034530,NaN,point,1840034825,NaN,NaN
447,34888,Bethera,Bethera,SC,South Carolina,Berkeley,45015,29434,33.201557,-79.788132,NaN,point,1840034826,NaN,NaN
448,34889,Grover,Grover,SC,South Carolina,Dorchester,45035,29477,33.105165,-80.594821,NaN,point,1840034827,NaN,NaN
449,34890,Dorchester,Dorchester,SC,South Carolina,Dorchester,45035,29437,33.139888,-80.394263,NaN,point,1840034828,NaN,NaN
450,34891,Hendersonville,Hendersonville,SC,South Carolina,Colleton,45029,29945,32.790731,-80.725383,NaN,point,1840034829,NaN,NaN
451,34892,Ashton,Ashton,SC,South Carolina,Colleton,45029,29082,33.015995,-80.970658,NaN,point,1840034830,NaN,NaN
452,34893,Ruffin,Ruffin,SC,South Carolina,Colleton,45029,29475,33.004608,-80.815656,NaN,point,1840034831,NaN,NaN
453,34894,Green Pond,Green Pond,SC,South Carolina,Colleton,45029,29446,32.731845,-80.614272,NaN,point,1840034832,NaN,NaN
454,34895,Canadys,Canadys,SC,South Carolina,Colleton,45029,29488,33.055721,-80.620377,NaN,point,1840034833,NaN,NaN
455,34896,Martin,Martin,SC,South Carolina,Allendale,45005,29836,33.069043,-81.476497,NaN,point,1840034834,NaN,NaN
456,34897,Millett,Millett,SC,South Carolina,Allendale,45005,29836,33.081264,-81.535664,NaN,point,1840034835,NaN,NaN
457,34898,Cummings,Cummings,SC,South Carolina,Hampton,45049,29944,32.787115,-80.990385,NaN,point,1840034836,NaN,NaN
458,34899,Miley,Miley,SC,South Carolina,Hampton,45049,29924,32.947941,-81.031771,NaN,point,1840034837,NaN,NaN
459,34900,Early Branch,Early Branch,SC,South Carolina,Hampton,45049,29916,32.745730,-80.927886,NaN,point,1840034838,NaN,NaN
460,34901,Garnett,Garnett,SC,South Carolina,Hampton,45049,29922,32.606288,-81.245382,NaN,point,1840034839,NaN,NaN
461,34902,Coosawhatchie,Coosawhatchie,SC,South Carolina,Jasper,45053,29912,32.588794,-80.927330,NaN,point,1840034840,NaN,NaN
462,34903,Pineland,Pineland,SC,South Carolina,Jasper,45053,29934,32.600179,-81.159550,NaN,point,1840034841,NaN,NaN
463,34904,Tillman,Tillman,SC,South Carolina,Jasper,45053,29943,32.463521,-81.107330,NaN,point,1840034842,NaN,NaN
464,34905,Grays Hill,Grays Hill,SC,South Carolina,Beaufort,45013,29906,32.493523,-80.742328,NaN,point,1840034843,NaN,NaN
465,34906,Sheldon,Sheldon,SC,South Carolina,Beaufort,45013,29945,32.601572,-80.793162,NaN,point,1840034844,NaN,NaN
466,34907,Frogmore,Frogmore,SC,South Carolina,Beaufort,45013,29920,32.396860,-80.576218,NaN,point,1840034845,NaN,NaN
467,34908,Daufuskie Landing,Daufuskie Landing,SC,South Carolina,Beaufort,45013,29915,32.104376,-80.885388,NaN,point,1840034846,NaN,NaN
468,34909,Lobeco,Lobeco,SC,South Carolina,Beaufort,45013,29940,32.552686,-80.743439,NaN,point,1840034847,NaN,NaN
469,34910,Centerville,Centerville,SC,South Carolina,Charleston,45019,29412,32.734067,-79.968702,NaN,point,1840034848,NaN,NaN
470,34911,Johns Island,Johns Island,SC,South Carolina,Charleston,45019,29455,32.792398,-80.108149,NaN,point,1840034849,NaN,NaN
471,34912,Edisto Island,Edisto Island,SC,South Carolina,Charleston,45019,29438,32.560185,-80.279821,NaN,point,1840034850,NaN,NaN
472,34913,Saint Andrews,Saint Andrews,SC,South Carolina,Charleston,45019,29407,32.781844,-79.985090,NaN,point,1840034851,NaN,NaN
473,37867,Huger,Huger,SC,South Carolina,Berkeley,45015,29450,33.096559,-79.803412,NaN,point,1840037824,NaN,NaN

In [1653]:
dfs1= dfs1.drop(labels='f', axis=1)

In [1654]:
dfs1[:2]

,index,city,city_ascii,state_id,state_name,county_name,county_fips,zip,lat,lng,population,source,id,water
0,199,Columbia,Columbia,SC,South Carolina,Richland,45079,29205 29202 29203 29201 29207 29208 29209 2922...,34.000710,-81.034814,129272.0,polygon,1840014730,NaN
1,218,Charleston,Charleston,SC,South Carolina,Charleston,45019,29424 29455 29407 29401 29403 29409 29492 2941...,32.776566,-79.930922,120083.0,polygon,1840015163,NaN

In [1655]:
def make_list(x):
    if(type(x['water']) is float):
        l=[]
        return l
    return x['water'].split(",")

In [1656]:
type(dfs1['water'][1])

float

In [1657]:
dfs1['water']=dfs1.apply(make_list,axis=1)

In [1658]:
dfs1[:2]

,index,city,city_ascii,state_id,state_name,county_name,county_fips,zip,lat,lng,population,source,id,water
0,199,Columbia,Columbia,SC,South Carolina,Richland,45079,29205 29202 29203 29201 29207 29208 29209 2922...,34.000710,-81.034814,129272.0,polygon,1840014730,[]
1,218,Charleston,Charleston,SC,South Carolina,Charleston,45019,29424 29455 29407 29401 29403 29409 29492 2941...,32.776566,-79.930922,120083.0,polygon,1840015163,[]

In [1659]:
dfs1=dfs1[ (dfs1['state_name'] == "South Carolina")]
dfs1=dfs1.reset_index()

In [1660]:
len(dfs1)

474

In [1661]:
len(dfs)

474

In [1662]:
dfs1[:1]

,level_0,index,city,city_ascii,state_id,state_name,county_name,county_fips,zip,lat,lng,population,source,id,water
0,0,199,Columbia,Columbia,SC,South Carolina,Richland,45079,29205 29202 29203 29201 29207 29208 29209 2922...,34.00071,-81.034814,129272.0,polygon,1840014730,[]

In [1663]:
def final(x):
    l=x['water']
    l2=dfs[dfs['id']==x['id']]['water'].values[0]
    return l+l2

In [1664]:
dfs1['water']=dfs1.apply(final,axis=1)

In [1665]:
dfs1[:2]

,level_0,index,city,city_ascii,state_id,state_name,county_name,county_fips,zip,lat,lng,population,source,id,water
0,0,199,Columbia,Columbia,SC,South Carolina,Richland,45079,29205 29202 29203 29201 29207 29208 29209 2922...,34.000710,-81.034814,129272.0,polygon,1840014730,[]
1,1,218,Charleston,Charleston,SC,South Carolina,Charleston,45019,29424 29455 29407 29401 29403 29409 29492 2941...,32.776566,-79.930922,120083.0,polygon,1840015163,[Charleston Commissioners of Public Works]

In [1666]:
dfs1.to_excel("South Carolina.xlsx")

In [1667]:
dfs1[:2]

,level_0,index,city,city_ascii,state_id,state_name,county_name,county_fips,zip,lat,lng,population,source,id,water
0,0,199,Columbia,Columbia,SC,South Carolina,Richland,45079,29205 29202 29203 29201 29207 29208 29209 2922...,34.000710,-81.034814,129272.0,polygon,1840014730,[]
1,1,218,Charleston,Charleston,SC,South Carolina,Charleston,45019,29424 29455 29407 29401 29403 29409 29492 2941...,32.776566,-79.930922,120083.0,polygon,1840015163,[Charleston Commissioners of Public Works]