In [ ]:
import pickle_test

In [2]:
from pickle_test import example_dict

                                  tok_description           merchant_name  \
0                      party supplies murrieta ca       #1 PARTY SUPPLIES
1                      party supplies murrieta ca        1 PARTY SUPPLIES
2               #anna's italian restau hampton va  #ANNA'S ITALIAN RESTAU
3                           #sd city college food   #SD CITY COLLEGE FOOD
4  debit card purchase 0p dry clean woodbridge va         $1.99 DRY CLEAN

              yodlee_name                               description_unmasked  \
0       #1 PARTY SUPPLIES           #1 PARTY SUPPLIES MURRIETA CA 8000000000
1        1 PARTY SUPPLIES           #1 PARTY SUPPLIES MURRIETA CA 8000000000
2  #ANNA'S ITALIAN RESTAU                  #ANNA'S ITALIAN RESTAU HAMPTON VA
3   #SD CITY COLLEGE FOOD                              #SD CITY COLLEGE FOOD
4         $1.99 DRY CLEAN  DEBIT CARD PURCHASE 09/28 03:54P #7751$1.99 DR...

                                        tag_sequence
0  <store_id> <vendor_name> <vendor_name> <city> ...
1  <store_id> <vendor_name> <vendor_name> <city> ...
2  <vendor_name> <vendor_name> <vendor_name> <cit...
3  <vendor_name> <vendor_name> <vendor_name> <ven...
4  <pymt_type> <pymt_type> <pymt_type> <trans_dat...

In [3]:
example_dict['description_unmasked']

0                   #1 PARTY SUPPLIES MURRIETA CA 8000000000
1                   #1 PARTY SUPPLIES MURRIETA CA 8000000000
2                          #ANNA'S ITALIAN RESTAU HAMPTON VA
3                                      #SD CITY COLLEGE FOOD
4          DEBIT CARD PURCHASE 09/28 03:54P #7751$1.99 DR...
5                               $5 JEWELRY SALE SEBASTIAN FL
6          & PIZZA DCA ARLINGTON VA~~08888~~5109820611810...
7          & PIZZA DCA ARLINGTON VA~~08888~~5109820611810...
8                     'OHANA LAKE BUENA 330140309 RESTAURANT
9               'T KELDERKE BRUXELLES 45348265241 RESTAURANT
10                                          TWEEN WATERS INN
11                                   TWEEN WATERS RESTAURANT
12                                 02 FITNESS 910-2391202 NC
13                                            #WWW.1AND1.COM
14                             #WWW.1AND1.COM 877-4612631 PA
15         WWW.1AND1.COM - TEL8774612631, PA REFERENCE NU...
16         CHECKCARD 0617 WWW.1AND1.COM 06105601589 PA 55...
17         SIGNATURE POS DEBIT 0602 PA 06105601589 WWW.1A...
18                  PURCHASE - WWW.1AND1.COM TEL8774612631PA
19                   PURCHASE - WWW.1AND1.COM 06105601589 PA
20         REVERSAL OF OVERDRAFT FEE FOR A TRANSACTION PO...
21                             WWW.1AND1.COM TEL8774612631PA
22           WWW.1AND1.COM TEL8774612631 XXXX-XXXX-XXXX-5000
23         WWW.1AND1.COM TEL8774612631 PAWWW.1AND1.COM TE...
24         WWW.1AND1.COM TEL8774612631 PA - COMPUTER NETW...
25         WWW.1AND1.COM TEL8774612631 PA 19087 USA - COM...
26                     WWW.1AND1.COM TEL8774612631 PA CREDIT
27         EXT CREDIT CARD DEBIT WWW.1AND1.COM 877-461263...
28         PARTIAL REVERSAL OF OVERDRAFT FEE FOR A TRANSA...
29                             WWW.1AND1.COM TELXXXXXX2631PA
                                 ...
4609203    POS PURCHASE POS PURCHASE                     ...
4609204    POS PURCHASE          POS00312633  3018305    ...
4609205    POS PURCHASE          POS00312633  7324234    ...
4609206    POS PURCHASE WITH PIN SCOTT'S # 929 S. 13TH DE...
4609207                          POS W/D PAK N SAVE RO-10:39
4609208                          POS W/D PAK N SAVE SY-15:10
4609209    POS WITHDRAWAL (ELN) IM *IMPROVEMENTS IM *IMPR...
4609210    POSTMATES LIME FRESH HTTPSPOSTMATE CA 01/27 DE...
4609211    PURCHASE (DEBIT PURCHASE AISLE 1 #352 GALT 121...
4609212    PURCHASE AUTHORIZED ON 12/15 GOLF GALAXY #3210...
4609213    PURCHASE AUTHORIZED ON 12/14 GOLF GALAXY 3121 ...
4609214    PURCHASE AUTHORIZED ON 12/28 LUCKY #761 SAN JO...
4609215         PURCHASE BEL AIR #522 GOLD RIVER CA CARD2818
4609216        PURCHASE GOLFGALAXY.C 800-2879060 PA CARD9936
4609217           PURCHASE LUCKY #720.L LARKSPUR CA CARD8088
4609218    PURCHASE LUCKY #700ALAMEDA CA,LUCKY #700ALAMED...
4609219    PURCHASE MADE ON 01/06/18 AT DOORDASH-LIME FRE...
4609220    PURCHASE MADE ON 01/03/18 AT LIME FRESH MEXICA...
4609221    PURCHASE ON  01/02 AT LUCKY #744.PLEA - PLEASA...
4609222    PURCHASE WITH CASH BACK $ 20.00 AUTHORIZED ON ...
4609223    PURCHASE WITH CASH BACK        $  50.00 AUTHOR...
4609224    PURCHASE WITH CASH BACK $ 200.00 AUTHORIZED ON...
4609225    SCOTT'S # 7008 BLUFFTO FORT WAYNE IN 03/20 DEB...
4609226    SCOTT'S #4107008 BLUFFTONFORT WAYNE   IN~~0888...
4609227    SCOTT'S HALLMARK SHOP GLENS FALLS NY 02/10 DEB...
4609228    SY8 GOLF GALAX  09/17 #000011862 PURCHASE     ...
4609229    SY8 GOLF GALAXY # 24 SALT LAKE CIT UT022439 02/09
4609230    WITHDRAW - POS 1229 1919 267757 LUCKY #222 SAN...
4609231    WITHDRAWAL #808700503984 SCOTT'S #424 10230 CH...
4609232    XX9232 PIN PURCHASE BERGNERS #0563 5203 W WPEO...
Name: description_unmasked, Length: 4609233, dtype: object

In [4]:
def get_ygst_desc(row):

    digits = re.compile("\d")

    def tokenizer(desc):

        return digits.sub("0", "".join(desc.lower()))

 

    variant_str = tokenizer(row)

    variant_str = re.sub(' +',' ',variant_str)

    return variant_str

In [209]:
new_df=example_dict.filter(items=['tag_sequence', 'description_unmasked','yodlee_name'])

In [1]:
new_df=new_df[:20]
#new_df.to_excel("after_given_funxtion.xlsx")
import re
new_df

NameError: name 'new_df' is not defined

In [4]:
new_df['ysgt'] =new_df['description_unmasked'].apply(lambda x:get_ygst_desc(x))
new_df

NameError: name 'new_df' is not defined

In [2]:
new_df['tag_sequence'][15]

NameError: name 'new_df' is not defined

In [3]:
new_df['ysgt'][15]

NameError: name 'new_df' is not defined

In [219]:
train_set=set()
new_df.filter(items=['tag_sequence', 'ysgt'])
f=new_df.dropna()
#f.reset_index(drop=True)
f

,tag_sequence,description_unmasked,yodlee_name,ysgt
0,<store_id> <vendor_name> <vendor_name> <city> ...,#1 PARTY SUPPLIES MURRIETA CA 8000000000,#1 PARTY SUPPLIES,#0 party supplies murrieta ca 0000000000
1,<store_id> <vendor_name> <vendor_name> <city> ...,#1 PARTY SUPPLIES MURRIETA CA 8000000000,1 PARTY SUPPLIES,#0 party supplies murrieta ca 0000000000
2,<vendor_name> <vendor_name> <vendor_name> <cit...,#ANNA'S ITALIAN RESTAU HAMPTON VA,#ANNA'S ITALIAN RESTAU,#anna's italian restau hampton va
3,<vendor_name> <vendor_name> <vendor_name> <ven...,#SD CITY COLLEGE FOOD,#SD CITY COLLEGE FOOD,#sd city college food
4,<pymt_type> <pymt_type> <pymt_type> <trans_dat...,DEBIT CARD PURCHASE 09/28 03:54P #7751$1.99 DR...,$1.99 DRY CLEAN,debit card purchase 00/00 00:00p #0000$0.00 dr...
5,<vendor_name> <vendor_name> <vendor_name> <cit...,$5 JEWELRY SALE SEBASTIAN FL,$5 JEWELRY,$0 jewelry sale sebastian fl
8,<vendor_name> <city> <city> <unidentified> <tr...,'OHANA LAKE BUENA 330140309 RESTAURANT,'OHANA,'ohana lake buena 000000000 restaurant
9,<vendor_name> <vendor_name> <city> <unidentifi...,'T KELDERKE BRUXELLES 45348265241 RESTAURANT,'T KELDERKE,'t kelderke bruxelles 00000000000 restaurant
10,<vendor_name> <vendor_name> <vendor_name>,TWEEN WATERS INN,'TWEEN WATERS INN,tween waters inn
11,<vendor_name> <vendor_name> <vendor_name>,TWEEN WATERS RESTAURANT,'TWEEN WATERS INN,tween waters restaurant
12,<vendor_name> <vendor_name> <phone_number> <st...,02 FITNESS 910-2391202 NC,02 FITNESS,00 fitness 000-0000000 nc
13,<vendor_name>,#WWW.1AND1.COM,1 & 1 INTERNET,#www.0and0.com
14,<vendor_name> <phone_number> <state>,#WWW.1AND1.COM 877-4612631 PA,1 & 1 INTERNET,#www.0and0.com 000-0000000 pa
15,<vendor_name> <other> <city> <state> <constant...,"WWW.1AND1.COM - TEL8774612631, PA REFERENCE NU...",1 & 1 INTERNET,"www.0and0.com - tel0000000000, pa reference nu..."
17,<pymt_type> <pymt_type> <pymt_type> <unidentif...,SIGNATURE POS DEBIT 0602 PA 06105601589 WWW.1A...,1 & 1 INTERNET,signature pos debit 0000 pa 00000000000 www.0a...
18,<pymt_type> <other> <vendor_name> <vendor_name>,PURCHASE - WWW.1AND1.COM TEL8774612631PA,1 & 1 INTERNET,purchase - www.0and0.com tel0000000000pa
19,<pymt_type> <other> <vendor_name> <unidentifie...,PURCHASE - WWW.1AND1.COM 06105601589 PA,1 & 1 INTERNET,purchase - www.0and0.com 00000000000 pa

In [ ]:
def find_vendor(x):
    
    temp=x['tag_sequence'].split(" ")
    temp1= x['ysgt'].split(" ")
#     print (temp)
#     print(temp1[1])

    if(len(temp)==len(temp1)):
        ans=[]
        s=""
        count=0
        for i in range(len(temp)):

            if(temp[i]=='<vendor_name>' and count==0):
                s=temp1[i]+" "
                count=1
            elif(temp[i]=='<vendor_name>' and count==1):
                s=s+temp1[i]+" "
                count=1
            elif(count==1):
                s=s[:-1]
                ans.append(s)
                s=""
                count=0
        return ans

In [ ]:
train_s=[]
#f[f['tag_sequence'].map(len) == f['ysgt'].map(len)]
train_s.append(f[['tag_sequence','ysgt']].apply(find_vendor,axis=1))

In [ ]:
train_s

In [ ]:
flat_list = [item for sublist in train_s for item in sublist]

In [ ]:
flat_list

In [ ]:
import itertools

In [ ]:
train_s = list(itertools.chain(*train_s))

In [ ]:
merged = list(itertools.chain(*train_s))
merged

In [ ]:
final_train=set(merged)

In [ ]:
final_train

In [ ]:
from read_json1 import final